---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Hero from '../../components/Hero.astro';
import WhereToFind from '../../components/WhereToFind.astro';
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

import tag_1 from '../../assets/L1460302.JPG';
import tag_2 from '../../assets/L1460361.JPG';
import tag_3 from '../../assets/L1460435.JPG';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
    {
        title: t('tag.1'),
        image: tag_1
    },
    {
      title: t('tag.2'),
      image: tag_2
    },
    {
      title: t('tag.3'),
      image: tag_3
    }
]

---
<Layout title="be-wine">
  <div class="relative">
    <div class="mx-auto px-8 md:max-w-7xl">
      <Hero />
      <div class="relative w-full mt-5 mb-10">
        <div class="clear-both relative">
          <div class="grid flex-wrap items-start grid-cols-1 gap-4 lg:grid-cols-3 md:grid-cols-2 portfolio gap-8 ">
            {projects.map((project,index)=><Card index={index+1} image={project.image} title={project.title} inferSize={true} imageStyle="grayscale" />)}
          </div>
        </div>
      </div>
      <WhereToFind />
    </div>
  </div>
</Layout>
