---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light font-serif text-4xl leading-none -tracking-wider mt-0 mb-8 mx-0">
        <p class="mb-6 text-pretty">
          <div><span class="text-[1.5em]">{t('hero.title')}</span></div>
          <span class="text-[1.5em]">{t('hero.subtitle')}</span>
        </p>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0 text-sauvignon-800">
        <div>          
          <span class="opacity-85">
            {t('hero.description')}
          </span>
        </div>
        <div class="mt-3">
          <span class="opacity-85">
            {t('hero.cta')}
          </span>
        </div>
      </h4>
    </div>
  </div>
</div>
