
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">
        <span class="text-[1.5em]">Bringing Vietnamese wine to a new height.</span>
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0 text-sauvignon-800">
        <span class="opacity-60">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum at. In hac habitasse platea dictumst vestibulum. Nunc sed id semper risus in hendrerit gravida. Et odio pellentesque diam volutpat commodo. Id diam maecenas ultricies mi eget. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. </span>
      </h4>
    </div>
  </div>
</div>
