---
import { getEntry } from 'astro:content';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Card from './Card.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const venuesList = await getEntry('venues', 'venues');
---

<div class="flex items-end mb-8" id="WhereToFind">
    <div class="pr-5">
      <div class="max-w-xl relative mt-5 mb-0">
        <h2 class="font-light font-serif text-4xl text-pretty leading-none -tracking-wider mt-0 mb-8 mx-0">
          <span class="text-[1.5em]">{t('wheretofind.title')}</span>
        </h2>
      </div>
      <div class="grid flex-wrap items-start grid-cols-1 lg:grid-cols-5 md:grid-cols-3 portfolio gap-10 ">
          {venuesList.data.list.map(
            (venue, index) => 
            <Card 
              index={index+1} 
              image={venue.image} 
              title={venue.name} 
              subtitle={venue.subtitle} 
              link={venue.link}
              imageStyle="aspect-square object-cover" /> 
          )}
        </div>
    </div>
  </div>
  